<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tab1</key>
		<dict>
			<key>text</key>
			<string>在脊椎动物漫长的演化史中，“脊椎的出现” 堪称是第一个里程碑式的重大事件。
游弋水中的鱼类、翱翔空中的飞鸟、生活在陆地上的龟、蛇、虎、象，小至8毫米长的小蛙，大到30米长的蓝鲸，所有脊椎动物都有一个共同的特征：具有一串支撑身体的脊椎骨。脊椎的出现使动物体内有了骨骼支持，变得更加坚强。
这一切始于5亿多年前的寒武纪。在我国西南的浅海中，一些被称为昆明鱼和海口鱼的动物体内，出现了原始的脊椎。自此动物结构变得更为复杂、其生态空间也更加广阔。
</string>
		</dict>
		<key>tab2</key>
		<dict>
			<key>text</key>
			<string>演化词：海口鱼化石上发现了脊椎骨和头部构造，从而证实海口鱼确为世界上已知最古老的脊椎动物。这也证实了我国南方很可能是整个“脊椎动物演化大树”的发祥地。</string>
			<key>pics</key>
			<array>
				<string>1-tab2-2.jpg</string>
			</array>
			<key>param</key>
			<array>
				<dict>
					<key>name</key>
					<string>尺寸（长、高）</string>
					<key>value</key>
					<string>长28mm， 高6 mm（不含鳍）</string>
				</dict>
				<dict>
					<key>name</key>
					<string>重量</string>
					<key>value</key>
					<string>未知</string>
				</dict>
				<dict>
					<key>name</key>
					<string>食性</string>
					<key>value</key>
					<string>未知</string>
				</dict>
				<dict>
					<key>name</key>
					<string>灭绝了吗</string>
					<key>value</key>
					<string>已灭绝</string>
				</dict>
				<dict>
					<key>name</key>
					<string>生存年代</string>
					<key>value</key>
					<string>早寒武世(约5.3亿年前)</string>
				</dict>
				<dict>
					<key>name</key>
					<string>分布</string>
					<key>value</key>
					<string>云南省昆明市海口镇耳材村</string>
				</dict>
			</array>
		</dict>
		<key>tab3</key>
		<dict>
			<key>text</key>
			<string> </string>
			<key>pics</key>
			<array>
				<string>1-tab3-1.png</string>
			</array>
			<key>param</key>
			<array>
				<dict>
					<key>name</key>
					<string>化石产地</string>
					<key>value</key>
					<string>云南省昆明市海口镇耳材村</string>
				</dict>
				<dict>
					<key>name</key>
					<string>化石尺寸化石挖掘地图片</string>
					<key>value</key>
					<string>3cm</string>
				</dict>
				<dict>
					<key>name</key>
					<string>化石挖掘地图片</string>
					<key>value</key>
					<string>无</string>
				</dict>
				<dict>
					<key>name</key>
					<string>化石挖掘现场图片</string>
					<key>value</key>
					<string>无</string>
				</dict>
				<dict>
					<key>name</key>
					<string>化石挖掘日期</string>
					<key>value</key>
					<string>1997</string>
				</dict>
			</array>
		</dict>
		<key>tab4</key>
		<dict>
			<key>text</key>
			<string> </string>
			<key>pics</key>
			<array>
				<dict>
					<key>title</key>
					<string>古虫化石-早寒武世</string>
					<key>pic</key>
					<string>1-tab4-0.jpg</string>
				</dict>
				<dict>
					<key>title</key>
					<string>古虫-早寒武世</string>
					<key>pic</key>
					<string>1-tab4-1.jpg</string>
				</dict>
				<dict>
					<key>title</key>
					<string>古虫-早寒武世</string>
					<key>pic</key>
					<string>1-tab4-2.jpg</string>
				</dict>
				<dict>
					<key>title</key>
					<string>奇虾-早寒武世</string>
					<key>pic</key>
					<string>1-tab4-3.jpg</string>
				</dict>
				<dict>
					<key>title</key>
					<string>奇虾复原图</string>
					<key>pic</key>
					<string>1-tab4-4.jpg</string>
				</dict>
				<dict>
					<key>title</key>
					<string>钵水母-早寒武世</string>
					<key>pic</key>
					<string>1-tab4-5.jpg</string>
				</dict>
				<dict>
					<key>title</key>
					<string>三叶虫-寒武纪～二叠纪</string>
					<key>pic</key>
					<string>1-tab4-6.jpg</string>
				</dict>
				<dict>
					<key>title</key>
					<string>三叶虫-寒武纪～二叠纪</string>
					<key>pic</key>
					<string>1-tab4-7.gif</string>
				</dict>
			</array>
		</dict>
	</dict>
	<dict>
		<key>tab1</key>
		<dict>
			<key>text</key>
			<string>如果没有颌，生命将真的是不可想象：没有它，巨大的噬人鲨、凶残的恐龙、狰狞的剑齿虎和喋喋不休的人类会面目全非。颌的起源可能是脊椎动物进化史上最为重要和意义深远的一次进化事件。——约翰·梅兹（1996）   四亿多年前的志留纪，一些脊椎动物出现了上下颌，标志着脊椎动物由被动的滤食性生活向主动的捕食性生活方式的过渡, 大大提高了脊椎动物的取食与适应能力。颌出现之后，有颌脊椎动物迅速向更广阔的生态位辐射演化，演化出包括我们人类在内的各大现生类群，占整个脊椎动物总数的99.8%以上，而无颌类中只有盲鳗和七鳃鳗两个类群残存至今。</string>
		</dict>
		<key>tab2</key>
		<dict>
			<key>text</key>
			<string>演化词：  盔甲鱼的脑颅在颌的起源之前已经发生了关键的重组，代表了在颌演化过程中的一个非常关键的中间环节，从而为解开脊椎动物颌的起源之谜提供了关键的化石证据。</string>
			<key>pics</key>
			<array>
				<string>2-tab2-1.jpg</string>
			</array>
			<key>param</key>
			<array>
				<dict>
					<key>name</key>
					<string>尺寸（长、高）</string>
					<key>value</key>
					<string>长约3～4厘米，高约1厘米</string>
				</dict>
				<dict>
					<key>name</key>
					<string>重量</string>
					<key>value</key>
					<string>50～100克</string>
				</dict>
				<dict>
					<key>name</key>
					<string>食性</string>
					<key>value</key>
					<string>虑食</string>
				</dict>
				<dict>
					<key>name</key>
					<string>灭绝了吗</string>
					<key>value</key>
					<string>已灭绝</string>
				</dict>
				<dict>
					<key>name</key>
					<string>生存年代</string>
					<key>value</key>
					<string>志留纪（约4.28亿年前）</string>
				</dict>
				<dict>
					<key>name</key>
					<string>分布</string>
					<key>value</key>
					<string>浙江北部，长兴、煤山一带</string>
				</dict>
			</array>
		</dict>
		<key>tab3</key>
		<dict>
			<key>text</key>
			<string> </string>
			<key>param</key>
			<array>
				<dict>
					<key>name</key>
					<string>化石产地</string>
					<key>value</key>
					<string>浙江长兴</string>
				</dict>
				<dict>
					<key>name</key>
					<string>化石尺寸</string>
					<key>value</key>
					<string>1cm*1cm</string>
				</dict>
				<dict>
					<key>name</key>
					<string>化石挖掘日期</string>
					<key>value</key>
					<string>2003年12月</string>
				</dict>
			</array>
			<key>pics</key>
			<array>
				<dict>
					<key>title</key>
					<string>化石挖掘地图片</string>
					<key>pic</key>
					<string>2-tab3-1.png</string>
				</dict>
				<dict>
					<key>title</key>
					<string>化石挖掘现场图片</string>
					<key>pic</key>
					<string>2-tab3-2.png</string>
				</dict>
				<dict>
					<key>title</key>
					<string>化石挖掘现场图片</string>
					<key>pic</key>
					<string>2-tab3-3.png</string>
				</dict>
				<dict>
					<key>title</key>
					<string>化石照片-浙江曙鱼头骨</string>
					<key>pic</key>
					<string>2-tab3-3.jpg</string>
				</dict>
				<dict>
					<key>title</key>
					<string>化石照片-浙江曙鱼头骨</string>
					<key>pic</key>
					<string>2-tab3-4.jpg</string>
				</dict>
			</array>
		</dict>
		<key>tab4</key>
		<dict>
			<key>text</key>
			<string></string>
			<key>pics</key>
			<array>
				<dict>
					<key>title</key>
					<string>恐鱼-泥盆纪晚期</string>
					<key>pic</key>
					<string>2-tab4-1.jpg</string>
				</dict>
				<dict>
					<key>title</key>
					<string>全颌鱼-志留纪晚期</string>
					<key>pic</key>
					<string>2-tab4-2.jpg</string>
				</dict>
				<dict>
					<key>title</key>
					<string>旋齿鲨-石炭纪早期～三叠纪早期</string>
					<key>pic</key>
					<string>2-tab4-3.jpg</string>
				</dict>
				<dict>
					<key>title</key>
					<string>旋齿鲨-石炭纪早期～三叠纪早期</string>
					<key>pic</key>
					<string>2-tab4-4.jpg</string>
				</dict>
			</array>
		</dict>
	</dict>
	<dict>
		<key>tab1</key>
		<dict>
			<key>text</key>
			<string>“成功眷顾有准备的人”。这句话用在一些泥盆纪的肉鳍鱼身上非常合适，因为这些鱼类的头骨、牙齿、偶鳍、脊椎等特征与四足动物非常相似，这些预适应特征帮助它们逐步地登上了陆地，完成了脊椎动物演化史中一次重要的飞跃。在脊椎动物诞生后的1亿7千多万年中，它们还都只能生活在水里。直到距今3亿6千多万年前，一群勇敢的鱼终于爬上陆地，开始了崭新的生活，它们也由此改名为“两栖类”。最早登陆的脊椎动物是早期四足动物，以鱼石螈为代表，也被称为广义的两栖类。它们的出现使脊椎动物终于可以逐步摆脱对水的依赖，一举“攻占”陆地，从而极大地扩展了脊椎动物的生存空间。</string>
		</dict>
		<key>tab2</key>
		<dict>
			<key>text</key>
			<string>演化词：鱼石螈的身体呈现出鱼类和两栖类四足动物的双重特征。鱼石螈的出现使脊椎动物终于可以逐步摆脱对水的依赖，一举“攻占”陆地，从而极大地扩展了脊椎动物的生存空间。</string>
			<key>pics</key>
			<array>
				<string>3-tab2-1.jpg</string>
			</array>
			<key>param</key>
			<array>
				<dict>
					<key>name</key>
					<string>尺寸（长、高）</string>
					<key>value</key>
					<string>长约1米，高约0.2米</string>
				</dict>
				<dict>
					<key>name</key>
					<string>重量</string>
					<key>value</key>
					<string>未知</string>
				</dict>
				<dict>
					<key>name</key>
					<string>食性</string>
					<key>value</key>
					<string>可能食鱼</string>
				</dict>
				<dict>
					<key>name</key>
					<string>灭绝了吗</string>
					<key>value</key>
					<string>已灭绝</string>
				</dict>
				<dict>
					<key>name</key>
					<string>生存年代</string>
					<key>value</key>
					<string>晚泥盆世（约3.6亿年前）</string>
				</dict>
				<dict>
					<key>name</key>
					<string>分布</string>
					<key>value</key>
					<string>格陵兰岛</string>
				</dict>
			</array>
		</dict>
		<key>tab3</key>
		<dict>
			<key>text</key>
			<string> </string>
			<key>pics</key>
			<array>
				<dict>
					<key>title</key>
					<string>化石照片1-鱼石螈</string>
					<key>pic</key>
					<string>3-tab3-1.jpg</string>
				</dict>
				<dict>
					<key>title</key>
					<string>化石照片2-鱼石螈</string>
					<key>pic</key>
					<string>3-tab3-2.jpg</string>
				</dict>
			</array>
			<key>param</key>
			<array>
				<dict>
					<key>name</key>
					<string>化石产地</string>
					<key>value</key>
					<string>格陵兰东海岸（化石1）</string>
				</dict>
				<dict>
					<key>name</key>
					<string>化石尺寸</string>
					<key>value</key>
					<string>化石不完整，头长不到20厘米（化石1）</string>
				</dict>
				<dict>
					<key>name</key>
					<string>化石挖掘地图片</string>
					<key>value</key>
					<string>无</string>
				</dict>
				<dict>
					<key>name</key>
					<string>化石挖掘现场图片</string>
					<key>value</key>
					<string>无</string>
				</dict>
				<dict>
					<key>name</key>
					<string>化石挖掘日期</string>
					<key>value</key>
					<string>1929</string>
				</dict>
			</array>
		</dict>
		<key>tab4</key>
		<dict>
			<key>text</key>
			<string> </string>
			<key>pics</key>
			<array>
				<dict>
					<key>title</key>
					<string>潘氏中国螈-晚泥盆世</string>
					<key>pic</key>
					<string>3-tab4-1.png</string>
				</dict>
				<dict>
					<key>title</key>
					<string>潘氏中国螈下颌化石</string>
					<key>pic</key>
					<string>3-tab4-2.jpg</string>
				</dict>
				<dict>
					<key>title</key>
					<string>拉蒂迈鱼-现生</string>
					<key>pic</key>
					<string>3-tab4-3.jpg</string>
				</dict>
				<dict>
					<key>title</key>
					<string>拉蒂迈鱼</string>
					<key>pic</key>
					<string>3-tab4-4.jpg</string>
				</dict>
				<dict>
					<key>title</key>
					<string>奇异东生鱼-早泥盆世</string>
					<key>pic</key>
					<string>3-tab4-5.jpg</string>
				</dict>
				<dict>
					<key>title</key>
					<string>奇异东生鱼头骨化石</string>
					<key>pic</key>
					<string>3-tab4-6.jpg</string>
				</dict>
			</array>
		</dict>
	</dict>
	<dict>
		<key>tab1</key>
		<dict>
			<key>text</key>
			<string>现代爬行动物与两栖动物的卵非常不同。两栖类的卵包裹在胶状物中，容易干化。爬行类的卵具有硬壳或纤维质的“外套”，而且有多种卵膜保护里面的胚胎。因为其中一层卵膜是“羊膜”，所以爬行动物的卵被称为“羊膜卵”。这种卵也见于鸟类和原始哺乳动物。虽然进步的哺乳动物并不产卵，但它们的胚胎也包裹在羊膜中。因此哺乳动物、鸟类和爬行动物拥有一个共有的名称：羊膜类。已知最早的羊膜卵化石是1.9亿年前的恐龙蛋，产自中国和南非。但推测3亿年前的蜥蜴状的最早羊膜动物就已经产下了羊膜卵，尽管化石尚未发现。羊膜卵的出现使脊椎动物能更完美地征服陆地环境。</string>
		</dict>
		<key>tab2</key>
		<dict>
			<key>text</key>
			<string>演化词：林蜥是已知最早的确切无疑的羊膜动物,羊膜动物是真正适应了陆地环境的脊椎动物。</string>
			<key>pics</key>
			<array/>
			<key>param</key>
			<array>
				<dict>
					<key>name</key>
					<string>尺寸（长、高）</string>
					<key>value</key>
					<string>长约20 cm </string>
				</dict>
				<dict>
					<key>name</key>
					<string>重量</string>
					<key>value</key>
					<string>相当于现在的蜥蜴重量</string>
				</dict>
				<dict>
					<key>name</key>
					<string>食性</string>
					<key>value</key>
					<string>早期昆虫和一些小型节肢动物</string>
				</dict>
				<dict>
					<key>name</key>
					<string>灭绝了吗</string>
					<key>value</key>
					<string>已灭绝</string>
				</dict>
				<dict>
					<key>name</key>
					<string>生存年代</string>
					<key>value</key>
					<string>石炭纪（约3.12亿年前）</string>
				</dict>
				<dict>
					<key>name</key>
					<string>分布</string>
					<key>value</key>
					<string>北美洲</string>
				</dict>
			</array>
		</dict>
		<key>tab3</key>
		<dict>
			<key>text</key>
			<string></string>
			<key>param</key>
			<array>
				<dict>
					<key>name</key>
					<string>化石产地</string>
					<key>value</key>
					<string>加拿大新斯科科舍省Joggins</string>
				</dict>
				<dict>
					<key>name</key>
					<string>化石尺寸</string>
					<key>value</key>
					<string>无</string>
				</dict>
				<dict>
					<key>name</key>
					<string>化石挖掘地图片</string>
					<key>value</key>
					<string>无</string>
				</dict>
				<dict>
					<key>name</key>
					<string>化石挖掘现场图片</string>
					<key>value</key>
					<string>无</string>
				</dict>
				<dict>
					<key>name</key>
					<string>化石挖掘日期</string>
					<key>value</key>
					<string>无</string>
				</dict>
			</array>
		</dict>
		<key>tab4</key>
		<dict>
			<key>text</key>
			<string></string>
			<key>pics</key>
			<array>
				<dict>
					<key>title</key>
					<string>前棱蜥-三叠纪</string>
					<key>pic</key>
					<string>4-tab4-1.jpg</string>
				</dict>
				<dict>
					<key>title</key>
					<string>乌鲁木齐鲵-晚二叠世(没有复原图)</string>
					<key>pic</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</dict>
	<dict>
		<key>tab1</key>
		<dict>
			<key>text</key>
			<string>脊椎动物最初诞生于海洋。到了3.6亿年前的泥盆纪晚期，它们中的一个重要分支——四足动物很可能已经登上了陆地。然而一些四足动物反转了这一演化过程，重新回到海洋。海龟、企鹅、鲸是踏上这一征程的现生类群的代表。化石记录中有更多“重返海洋”的范例。二叠纪早期的中龙是一种具鳍状肢的长吻爬行动物，它们生活的浅海曾是非洲与南美洲古陆联合的地方。三叠纪出现了两个更成功的海生爬行类群：鱼龙类和鳍龙类，并一直生存到白垩纪。典型的鱼龙具流线型体型，推测是游泳高手。鳍龙类形态各异，其中最著名的蛇颈龙具有长长的脖子。同其他进入海洋的四足动物一样，它们显然发现了比陆地更适合其发展的生态空间。</string>
		</dict>
		<key>tab2</key>
		<dict>
			<key>text</key>
			<string>演化词：中龙是最早回到水中生存的爬行动物，它是二叠纪早期的一种具鳍状肢的长吻爬行动物，它生活的浅海曾是冈瓦纳大陆的一部分。</string>
			<key>pics</key>
			<array>
				<string>5-tab2-1.jpg</string>
			</array>
			<key>param</key>
			<array>
				<dict>
					<key>name</key>
					<string>尺寸（长、高）</string>
					<key>value</key>
					<string>长约1m</string>
				</dict>
				<dict>
					<key>name</key>
					<string>重量</string>
					<key>value</key>
					<string>未知</string>
				</dict>
				<dict>
					<key>name</key>
					<string>食性</string>
					<key>value</key>
					<string>类甲壳动物（类似磷虾）</string>
				</dict>
				<dict>
					<key>name</key>
					<string>灭绝了吗</string>
					<key>value</key>
					<string>已灭绝</string>
				</dict>
				<dict>
					<key>name</key>
					<string>生存年代</string>
					<key>value</key>
					<string>早二叠世（约2.7亿年前）</string>
				</dict>
				<dict>
					<key>name</key>
					<string>分布</string>
					<key>value</key>
					<string>南美洲和南非</string>
				</dict>
			</array>
		</dict>
		<key>tab3</key>
		<dict>
			<key>text</key>
			<string> </string>
			<key>pics</key>
			<array>
				<dict>
					<key>title</key>
					<string>化石照片-中龙</string>
					<key>pic</key>
					<string>5-tab3-1.png</string>
				</dict>
			</array>
			<key>param</key>
			<array>
				<dict>
					<key>name</key>
					<string>化石产地</string>
					<key>value</key>
					<string>巴拉那河盆地、巴西</string>
				</dict>
				<dict>
					<key>name</key>
					<string>化石尺寸</string>
					<key>value</key>
					<string>无</string>
				</dict>
				<dict>
					<key>name</key>
					<string>化石挖掘地图片</string>
					<key>value</key>
					<string>无</string>
				</dict>
				<dict>
					<key>name</key>
					<string>化石挖掘现场图片</string>
					<key>value</key>
					<string>无</string>
				</dict>
				<dict>
					<key>name</key>
					<string>化石挖掘日期</string>
					<key>value</key>
					<string>无</string>
				</dict>
			</array>
		</dict>
		<key>tab4</key>
		<dict>
			<key>text</key>
			<string></string>
			<key>pics</key>
			<array>
				<dict>
					<key>title</key>
					<string>半甲齿龟-晚三叠世</string>
					<key>pic</key>
					<string>5-tab4-1.jpg</string>
				</dict>
				<dict>
					<key>title</key>
					<string>半甲齿龟</string>
					<key>pic</key>
					<string>5-tab4-2.jpg</string>
				</dict>
				<dict>
					<key>title</key>
					<string>萨斯特鱼龙-晚三叠世</string>
					<key>pic</key>
					<string>5-tab4-3.jpg</string>
				</dict>
				<dict>
					<key>title</key>
					<string>蛇颈龙-侏罗纪-白垩纪</string>
					<key>pic</key>
					<string>5-tab4-4.jpg</string>
				</dict>
			</array>
		</dict>
	</dict>
	<dict>
		<key>tab1</key>
		<dict>
			<key>text</key>
			<string>很多脊椎动物能滑翔，但今天的世界上只有鸟类和蝙蝠能振翅飞翔。而在遥远的三叠纪，与恐龙同时期的爬行动物近亲——翼龙成为世界上最早会飞的脊椎动物。同蝙蝠一样，翼龙的前后肢附有皮膜构成的翅膀。但翼龙的翅膀由一只强壮且伸长的手指支撑，而不像蝙蝠那样由四只长而弯曲的手指支撑。鸟类的翅膀则由羽毛构成，手指很短。作为脊椎动物最早占领天空的先驱，翼龙的解决方案未必完美，但这种飞行的本领显然使翼龙在中生代时繁盛于多种生态环境中，也极大地推动了脊椎动物的演化。</string>
		</dict>
		<key>tab2</key>
		<dict>
			<key>text</key>
			<string>演化词：世界上发现的保存翼膜及毛状皮肤衍生物最完整的翼龙标本之一，通过对这件标本的研究，了解到翼龙翼膜由远端相对刚性的肌翼膜和近端更具张力的腱翼膜组成，肌翼膜具有至少三层肌纤维交错而成的网状结构。</string>
			<key>pics</key>
			<array>
				<string>6-tab2-1.jpg</string>
			</array>
			<key>param</key>
			<array>
				<dict>
					<key>name</key>
					<string>尺寸（长、高）</string>
					<key>value</key>
					<string>翼展约90 cm，身体完全伸直从头至脚约30 cm。</string>
				</dict>
				<dict>
					<key>name</key>
					<string>重量</string>
					<key>value</key>
					<string>体重估算约300～500克。</string>
				</dict>
				<dict>
					<key>name</key>
					<string>食性</string>
					<key>value</key>
					<string>捕食昆虫。</string>
				</dict>
				<dict>
					<key>name</key>
					<string>灭绝了吗</string>
					<key>value</key>
					<string>已经灭绝，其可能的后代也完全灭绝了。已灭绝</string>
				</dict>
				<dict>
					<key>name</key>
					<string>生存年代</string>
					<key>value</key>
					<string>早白垩世  </string>
				</dict>
				<dict>
					<key>name</key>
					<string>分布</string>
					<key>value</key>
					<string>燕辽生物群（辽宁西部，内蒙古东南部以及河北北部）</string>
				</dict>
			</array>
		</dict>
		<key>tab3</key>
		<dict>
			<key>text</key>
			<string></string>
			<key>pics</key>
			<array>
				<dict>
					<key>title</key>
					<string>化石照片1-宁城热河翼龙</string>
					<key>pic</key>
					<string>6-tab3-2.jpg</string>
				</dict>
				<dict>
					<key>title</key>
					<string>化石照片2-宁城热河翼龙</string>
					<key>pic</key>
					<string>6-tab3-3.tif</string>
				</dict>
				<dict>
					<key>title</key>
					<string>化石挖掘现场图片</string>
					<key>pic</key>
					<string>6-tab3-1.png</string>
				</dict>
			</array>
			<key>param</key>
			<array>
				<dict>
					<key>name</key>
					<string>化石产地</string>
					<key>value</key>
					<string>内蒙古宁城道虎沟（化石1）</string>
				</dict>
				<dict>
					<key>name</key>
					<string>化石尺寸</string>
					<key>value</key>
					<string>57.5*43*2（化石1）</string>
				</dict>
				<dict>
					<key>name</key>
					<string>化石挖掘地图片</string>
					<key>value</key>
					<string>无</string>
				</dict>
				<dict>
					<key>name</key>
					<string>化石挖掘日期</string>
					<key>value</key>
					<string>2001年5月</string>
				</dict>
			</array>
		</dict>
		<key>tab4</key>
		<dict>
			<key>text</key>
			<string></string>
			<key>pics</key>
			<array>
				<dict>
					<key>title</key>
					<string>猎手鬼龙-早白垩世</string>
					<key>pic</key>
					<string>6-tab4-1.jpg</string>
				</dict>
				<dict>
					<key>title</key>
					<string>猎手鬼龙-早白垩世</string>
					<key>pic</key>
					<string>6-tab4-2.jpg</string>
				</dict>
				<dict>
					<key>title</key>
					<string>猎手鬼龙化石</string>
					<key>pic</key>
					<string>6-tab4-3.jpg</string>
				</dict>
				<dict>
					<key>title</key>
					<string>魏氏准噶尔翼龙-早白垩世，没有准确值</string>
					<key>pic</key>
					<string>6-tab4-4.jpg</string>
				</dict>
				<dict>
					<key>title</key>
					<string>魏氏准噶尔翼龙化石</string>
					<key>pic</key>
					<string>6-tab4-5.jpg</string>
				</dict>
				<dict>
					<key>title</key>
					<string>悟空翼龙-晚侏罗世</string>
					<key>pic</key>
					<string>5-tab4-6.jpg</string>
				</dict>
				<dict>
					<key>title</key>
					<string>悟空翼龙化石</string>
					<key>pic</key>
					<string>5-tab4-7.jpg</string>
				</dict>
			</array>
		</dict>
	</dict>
	<dict>
		<key>tab1</key>
		<dict>
			<key>text</key>
			<string>麻雀会是霸王龙的表亲吗？怎么看都不像！但化石记录显示：鸟类的确是从一群被称为“兽脚类”的恐龙中演化出来的。在辽宁西部以及邻近省区，发现了很多保存有漂亮羽毛的侏罗纪和白垩纪的恐龙化石。这些带羽恐龙正是鸟类源自恐龙的非凡证据。在与鸟类亲缘关系较远的兽脚类中（如属于暴龙类的帝龙和羽王龙），羽毛是纤维状或毛状的，其功能可能与保温和炫美有关，而不是用于飞行。但在原始鸟类及其恐龙近亲中（如小盗龙），羽毛变为飞羽形态，见于前肢、尾部甚至后肢。羽毛使鸟类加入了飞行俱乐部，并最终战胜并取代了脊椎动物飞行的先驱——翼龙家族。</string>
		</dict>
		<key>tab2</key>
		<dict>
			<key>text</key>
			<string>演化词：最古老的伤齿龙类，当时（2009年）已知的最早的带羽恐龙</string>
			<key>pics</key>
			<array>
				<string>7-tab2-1.jpg</string>
			</array>
			<key>param</key>
			<array>
				<dict>
					<key>name</key>
					<string>尺寸（长、高）</string>
					<key>value</key>
					<string>长34cm</string>
				</dict>
				<dict>
					<key>name</key>
					<string>重量</string>
					<key>value</key>
					<string>110g</string>
				</dict>
				<dict>
					<key>name</key>
					<string>食性</string>
					<key>value</key>
					<string>未知</string>
				</dict>
				<dict>
					<key>name</key>
					<string>灭绝了吗</string>
					<key>value</key>
					<string>已灭绝</string>
				</dict>
				<dict>
					<key>name</key>
					<string>生存年代</string>
					<key>value</key>
					<string>侏罗纪中期或晚期</string>
				</dict>
				<dict>
					<key>name</key>
					<string>分布</string>
					<key>value</key>
					<string>辽宁建昌</string>
				</dict>
			</array>
		</dict>
		<key>tab3</key>
		<dict>
			<key>text</key>
			<string></string>
			<key>pics</key>
			<array>
				<dict>
					<key>title</key>
					<string>化石照片1-赫氏近鸟龙</string>
					<key>pic</key>
					<string>7-tab3-1.jpg</string>
				</dict>
				<dict>
					<key>title</key>
					<string>化石照片2-赫氏近鸟龙</string>
					<key>pic</key>
					<string>7-tab3-1.png</string>
				</dict>
			</array>
			<key>param</key>
			<array>
				<dict>
					<key>name</key>
					<string>化石产地</string>
					<key>value</key>
					<string>辽宁建昌（化石1）</string>
				</dict>
				<dict>
					<key>name</key>
					<string>化石尺寸</string>
					<key>value</key>
					<string>42*29*4（化石1）</string>
				</dict>
				<dict>
					<key>name</key>
					<string>化石挖掘地图片</string>
					<key>value</key>
					<string>无</string>
				</dict>
				<dict>
					<key>name</key>
					<string>化石挖掘现场图片</string>
					<key>value</key>
					<string>无</string>
				</dict>
				<dict>
					<key>name</key>
					<string>化石挖掘日期</string>
					<key>value</key>
					<string>无</string>
				</dict>
			</array>
		</dict>
		<key>tab4</key>
		<dict>
			<key>text</key>
			<string></string>
			<key>pics</key>
			<array>
				<dict>
					<key>title</key>
					<string>北票龙-早白垩世</string>
					<key>pic</key>
					<string>7-tab4-1.jpg</string>
				</dict>
				<dict>
					<key>title</key>
					<string>北票龙化石</string>
					<key>pic</key>
					<string>7-tab4-2.jpg</string>
				</dict>
				<dict>
					<key>title</key>
					<string>顾氏小盗龙-早白垩世</string>
					<key>pic</key>
					<string>7-tab4-3.jpg</string>
				</dict>
				<dict>
					<key>title</key>
					<string>顾氏小盗龙Microraptor gui </string>
					<key>pic</key>
					<string>7-tab4-4.jpg</string>
				</dict>
				<dict>
					<key>title</key>
					<string>华丽羽王龙-早白垩世</string>
					<key>pic</key>
					<string>7-tab4-5.jpg</string>
				</dict>
				<dict>
					<key>title</key>
					<string>华丽羽王龙化石</string>
					<key>pic</key>
					<string>7-tab4-6.jpg</string>
				</dict>
				<dict>
					<key>title</key>
					<string>尾羽龙-早白垩世</string>
					<key>pic</key>
					<string>7-tab4-7.jpg</string>
				</dict>
				<dict>
					<key>title</key>
					<string>尾羽龙化石</string>
					<key>pic</key>
					<string>7-tab4-8.jpg</string>
				</dict>
			</array>
		</dict>
	</dict>
	<dict>
		<key>tab1</key>
		<dict>
			<key>text</key>
			<string>我们时常称自己生活在“哺乳动物的时代”。其实哺乳动物的历史可以追溯到遥远的中生代。它们与恐龙都出现在三叠纪的晚期，随后恐龙家族迅速繁盛，成为地球的主宰；同时期的哺乳动物却娇小而不起眼，直到白垩纪末恐龙灭绝后方获出头之日。已知最原始的哺乳动物是云南早侏罗世的中国尖齿兽，体小如鼩鼱，很可能也是食虫的。与现代哺乳动物不同：它们产卵而不是幼崽，下颌骨由多块而不是一块骨头构成。然而它们已经拥有了哺乳动物的诸多特征，比如牙齿的形态发生了分化，可能温血并身覆毛发。这些原始哺乳动物不如恐龙身形显赫，但作为一类新型的脊椎动物，它们的后代将前途无量。</string>
		</dict>
		<key>tab2</key>
		<dict>
			<key>text</key>
			<string>演化词：已知最原始的哺乳形动物，产卵而不是幼崽，其牙齿及脑颅结构原始，但颌关节却相当进步，从而区别于任何已知同时代的类型。</string>
			<key>pics</key>
			<array>
				<string>8-tab2-1.jpg</string>
			</array>
			<key>param</key>
			<array>
				<dict>
					<key>name</key>
					<string>尺寸（长、高）</string>
					<key>value</key>
					<string>头骨长约2厘米。全长不知道， </string>
				</dict>
				<dict>
					<key>name</key>
					<string>重量</string>
					<key>value</key>
					<string>未知</string>
				</dict>
				<dict>
					<key>name</key>
					<string>食性</string>
					<key>value</key>
					<string>估计食虫</string>
				</dict>
				<dict>
					<key>name</key>
					<string>灭绝了吗</string>
					<key>value</key>
					<string>已灭绝</string>
				</dict>
				<dict>
					<key>name</key>
					<string>生存年代</string>
					<key>value</key>
					<string>早侏罗世</string>
				</dict>
				<dict>
					<key>name</key>
					<string>分布</string>
					<key>value</key>
					<string>云南禄丰</string>
				</dict>
			</array>
		</dict>
		<key>tab3</key>
		<dict>
			<key>text</key>
			<string></string>
			<key>pics</key>
			<array>
				<dict>
					<key>title</key>
					<string>化石照片-中国尖齿兽头骨</string>
					<key>pic</key>
					<string>8-tab3-1.jpg</string>
				</dict>
			</array>
			<key>param</key>
			<array>
				<dict>
					<key>name</key>
					<string>化石产地</string>
					<key>value</key>
					<string>云南禄丰</string>
				</dict>
				<dict>
					<key>name</key>
					<string>化石尺寸</string>
					<key>value</key>
					<string>无</string>
				</dict>
				<dict>
					<key>name</key>
					<string>化石挖掘地图片</string>
					<key>value</key>
					<string>无</string>
				</dict>
				<dict>
					<key>name</key>
					<string>化石挖掘现场图片</string>
					<key>value</key>
					<string>无</string>
				</dict>
				<dict>
					<key>name</key>
					<string>化石挖掘日期</string>
					<key>value</key>
					<string>无</string>
				</dict>
			</array>
		</dict>
		<key>tab4</key>
		<dict>
			<key>text</key>
			<string></string>
			<key>pics</key>
			<array>
				<dict>
					<key>title</key>
					<string>胡氏辽尖齿兽-早白垩世</string>
					<key>pic</key>
					<string>8-tab4-1.jpg</string>
				</dict>
				<dict>
					<key>title</key>
					<string>胡氏辽尖齿兽化石</string>
					<key>pic</key>
					<string>8-tab4-2.jpg</string>
				</dict>
				<dict>
					<key>title</key>
					<string>巨爬兽-早白垩世</string>
					<key>pic</key>
					<string>8-tab4-3.jpg</string>
				</dict>
				<dict>
					<key>title</key>
					<string>巨爬兽化石</string>
					<key>pic</key>
					<string>8-tab4-4.jpg</string>
				</dict>
				<dict>
					<key>title</key>
					<string>远古翔兽-中侏罗世</string>
					<key>pic</key>
					<string>8-tab4-5.jpg</string>
				</dict>
				<dict>
					<key>title</key>
					<string>五尖张和兽-早白垩世</string>
					<key>pic</key>
					<string>8-tab4-6.jpg</string>
				</dict>
			</array>
		</dict>
	</dict>
	<dict>
		<key>tab1</key>
		<dict>
			<key>text</key>
			<string>六百多万年前，在非洲，一些古猿开始直立行走，从此解放了双手，开创了人类的历史。他们的后代逐渐学会制造并使用石器，脑量也不断增加。大约250万年前，非洲大陆上终于演化出了被称为“Homo”的人的族群（即“人属”），他们是我们所有现生人类的祖先。大约200万年前，Homo人属开始向亚洲和欧洲扩散。已知的古人类化石以及石器遗存显示，被称为“直立人”的人种在亚洲很多地方都生活过。北京周口店的“北京人”是其中著名的代表，生活在距今至少50万年前。脊椎动物演化史中，人类的出现无疑是最具革命性的事件：他们无与伦比的智慧和技术改变了其生物进化的历程，从非洲的家园扩散至地球的各个角落。</string>
		</dict>
		<key>tab2</key>
		<dict>
			<key>text</key>
			<string>演化词：乍得人头骨化石是迄今发现的最早的人类化石，很可能是最接近人类与黑猩猩的最近共同祖先。它的发现说明人类与黑猩猩最近共同祖先的生存的时间比之前推测的更早。</string>
			<key>pics</key>
			<array>
				<string>9-tab2-1.jpg</string>
			</array>
			<key>param</key>
			<array>
				<dict>
					<key>name</key>
					<string>尺寸（长、高）</string>
					<key>value</key>
					<string>脑量365毫升，如同现代猿类的脑量。头骨长约2厘米.</string>
				</dict>
				<dict>
					<key>name</key>
					<string>重量</string>
					<key>value</key>
					<string>估计不超过50公斤</string>
				</dict>
				<dict>
					<key>name</key>
					<string>食性</string>
					<key>value</key>
					<string>主要以植物为食</string>
				</dict>
				<dict>
					<key>name</key>
					<string>灭绝了吗</string>
					<key>value</key>
					<string>已灭绝，它可能是后期人类的祖先</string>
				</dict>
				<dict>
					<key>name</key>
					<string>生存年代</string>
					<key>value</key>
					<string>中新世（约700万年前）</string>
				</dict>
				<dict>
					<key>name</key>
					<string>分布</string>
					<key>value</key>
					<string>目前乍得人只发现于非洲中部的乍得共和国</string>
				</dict>
			</array>
		</dict>
		<key>tab3</key>
		<dict>
			<key>text</key>
			<string></string>
			<key>pics</key>
			<array>
				<dict>
					<key>title</key>
					<string>化石照片 乍得人头骨</string>
					<key>pic</key>
					<string>9-tab3-1.jpg</string>
				</dict>
			</array>
			<key>param</key>
			<array>
				<dict>
					<key>name</key>
					<string>化石产地</string>
					<key>value</key>
					<string>杜拉布沙漠</string>
				</dict>
				<dict>
					<key>name</key>
					<string>化石尺寸</string>
					<key>value</key>
					<string>发现的典型标本为一件变形的头骨。根据乍得人复原头骨，其前后长度从吻部（齿槽前缘点）到颅后点为211毫米，从眉间点到颅后点为173毫米；颅骨高度86毫米；颅骨宽度124毫米。其前后长度与现代人接近，但头骨低矮，介于黑猩猩与南方古猿之间。</string>
				</dict>
				<dict>
					<key>name</key>
					<string>化石挖掘地图片</string>
					<key>value</key>
					<string>无</string>
				</dict>
				<dict>
					<key>name</key>
					<string>化石挖掘现场图片</string>
					<key>value</key>
					<string>无</string>
				</dict>
				<dict>
					<key>name</key>
					<string>化石挖掘日期</string>
					<key>value</key>
					<string>2001年</string>
				</dict>
			</array>
		</dict>
		<key>tab4</key>
		<dict>
			<key>text</key>
			<string></string>
			<key>pics</key>
			<array>
				<dict>
					<key>title</key>
					<string>北京人-中更新世</string>
					<key>pic</key>
					<string>9-tab4-1.jpg</string>
				</dict>
				<dict>
					<key>title</key>
					<string>北京人头骨</string>
					<key>pic</key>
					<string>9-tab4-2.jpg</string>
				</dict>
				<dict>
					<key>title</key>
					<string>南方古猿-上新世</string>
					<key>pic</key>
					<string>9-tab4-3.jpg</string>
				</dict>
				<dict>
					<key>title</key>
					<string>南方古猿阿法种复原头骨</string>
					<key>pic</key>
					<string>9-tab4-4.jpg</string>
				</dict>
				<dict>
					<key>title</key>
					<string>山顶洞人-晚更新世</string>
					<key>pic</key>
					<string>9-tab4-5.jpg</string>
				</dict>
				<dict>
					<key>title</key>
					<string>山顶洞人头骨化石</string>
					<key>pic</key>
					<string>9-tab4-6.jpg</string>
				</dict>
			</array>
		</dict>
	</dict>
</array>
</plist>
